@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 55%;
  font-family: "Roboto", sans-serif;
  background-color: #0d1117;
}

a {
  text-decoration: none;
}

@media (min-width: 786px) {
  html {
    font-size: 62.5%;
  }
}
